<header class="w-full bg-blue-500 p-4 text-white text-center">
    <h1 class="text-3xl font-bold"><a href="/">brutalBaby</a> | <a href="/0x0">0x0</a> | <a href="/enter">Enter Mnemonic</a></h1>
</header>
